<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <!-- BOOTSTRAP -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <!-- BOOTSTRAP -->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p class="font-weight-bold">Add user:</p>
        </div>
    </div>
    <form name="add_user" method="POST" action="/index">
        <div class="row">
            <div class="col-sm-2">
                <label>First name</label>
            </div>
            <div class="col-sm-2">
                <input name="first_name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Last name</label>
            </div>
            <div class="col-sm-2">
                <input name="last_name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Email</label>
            </div>
            <div class="col-sm-2">
                <input name="email"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label>Phone</label>
            </div>
            <div class="col-sm-2">
                <input name="phone"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="submit" name="save" value="Save"/>
                <input type="submit" name="cancel" value="Cancel"/>
            </div>
        </div>
    </form>
</div>
</body>
